*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ol, ul {
	list-style: none;
    
}
a {
    text-decoration: none;
}
.aboutus {
    display: inline-block;
}
.color {
    color: #171717;
    margin-left: 100px;
}
.blocksize {
    width: 463px;
    height: 385px;
    margin-top:98px ;
    margin-right: 137px;
    margin-left: 100px;
}
.blocksize2 {
    height: 99;
    width: 463px;
    margin-top: 22px;
    margin-right: 137px;
    margin-left: 100px;
}
.width {
    max-width: 1475px;
    margin-right: auto;
    margin-left: auto;
}
